<ion-header class="header-balance">
  <app-header-balance [balance]="corda.balance" showBackButton="true"></app-header-balance>
</ion-header>

<ion-content class="request">
  <div class="box-wrapper">
    <div class="box box-request" *ngIf="!qrValue">
      <div class="header-request">
        <p><span>Quanto </span>você quer cobrar?</p>
      </div>
      <div class="body-request">
        <form *ngIf="!qrValue" [formGroup]="requestForm">
          <!-- <ion-item> -->
          <div class="item">
            <div class="bill">R$</div>
            <ion-input formControlName="amount" [brmasker]="{form: requestForm.get('amount'), money: true}" value="0,00"></ion-input>
          </div>
          <!-- </ion-item> -->
          <p text-right no-margin class="error" *ngIf="!requestForm.controls.amount.valid && requestForm.controls.amount.touched">
            Valor inválido
          </p>
        </form>
      </div>
      <div class="footer-request">
        <ion-row padding-vertical text-justify>
          <ion-col no-padding text-start>
            <ion-button color="primary" fill="outline" [routerLink]="['/wallet']" routerDirection="back">Cancelar</ion-button>
          </ion-col>
          <ion-col no-padding text-end>
            <ion-button color="primary" [disabled]="requestForm.invalid" (click)="sendRequest()">Confirmar</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="box box-qrvalue" *ngIf="qrValue">
      <div class="body-qrvalue">
        <div text-center>
          <ngx-qrcode [qrc-element-type]="'img'" [qrc-value]="qrValue" qrc-class="qr-code" qrc-errorCorrectionLevel="L">
          </ngx-qrcode>
          <ion-list>
            <ion-item>
              <ion-label>Valor</ion-label>
              <ion-label slot="end">R${{request.amount}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Recebedor</ion-label>
              <ion-label slot="end">{{request.accountToName}}</ion-label>
            </ion-item>
            <!-- <ion-item>
              <ion-label>Organização</ion-label>
              <ion-label slot="end">{{request.orgToName}}</ion-label>
            </ion-item> -->
          </ion-list>
        </div>
      </div>
      <div class="footer-qrvalue">
        <!-- <ion-row padding-vertical text-justify>
          <ion-col no-padding text-center>
            <ion-button fill="outline" (click)="clearQr()">Sair</ion-button>
          </ion-col>
          
          <ion-col no-padding text-end>
            <ion-button padding-left fill="outline" (click)="shareOnWhatsApp()">
                <ion-icon name="logo-whatsapp"></ion-icon>
              Enviar
            </ion-button>
          </ion-col>
        </ion-row> -->
        <ion-row padding-vertical text-justify>
          <ion-col no-padding text-center>
            <ion-button fill="outline" (click)="clearQr()">Sair</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div class="background"></div>
</ion-content>