.background {
  position: absolute;
  top: 0;
  height: 95px;
  background-color: var(--ion-color-primary);
  width: 100%;
}

.request {
  --background: #f3f4f7;

  .box-wrapper {
    padding: 0 15px;
  }

  .box {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 999;
    margin-top: 20px;
    width: 100%;
  }

  .box-request {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .header-request {
      border-bottom: solid 1px #e8e8e8;
      padding: 22px;

      span {
        font-weight: bold;
      }
    }

    .body-request {
      padding: 15px 22px;

      ion-input {
        font-size: 25px;
        font-weight: bold;
      }

      .item {
        align-items: center;
        display: flex;
      }

      form {
        .bill {
          margin-right: 10px;
          font-size: 25px;
        }
      }
    }

    .footer-request {
      padding: 5px 22px 5px;
    }
  }

  .box-qrvalue {
    .body-qrvalue {
      padding: 10px 22px;
    }

    .footer-qrvalue {
      padding: 0px 22px 10px;
    }
  }
}
