<ion-header>
  <ion-toolbar color="primary">
      <ion-back-button defaultHref="/wallet" slot="start"></ion-back-button>
      <ion-title no-padding>Recarga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <h1 class="view-title">
      Depósito via dinheiro
    </h1>    
    <img src="../../assets/images/recharge-cash.png">
    <h1 class="header">
        Recarregue seu cartão em:
    </h1>
  </div>

<ion-card class="info-card" *ngFor="let point of rechargePoints">
  <ion-card-content>
    <p><strong>{{point.name}}</strong></p>
    <p>{{point.location}}</p>
    <p>{{point.hours}}</p>
  </ion-card-content>
</ion-card>
</ion-content>
