.view-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--ion-color-step-600, #666);
  margin-top: 30px;
  margin-bottom: 20px;
}

.header {
  font-size: 18px;
  font-weight: bold;
  color: var(--ion-color-primary);
  padding-bottom: 0px;
}

.info-card {
  background-color: #fff;
  white-space: pre-line;
}