<ion-header class="header-balance">
  <app-header-balance [balance]="corda.balance" showBackButton="true"></app-header-balance>
</ion-header>
<ion-content class="request">
  <div class="box-wrapper">
    <form [formGroup]="paymentNoBarcode">
      <div class="box box-request">
        <div *ngIf="step == 1">
          <div class="header-request">
            <p><span>Escolha </span>a opção de pagamento</p>
          </div>
          <div class="body-request">
            <!-- <div class="item"> -->
            <!-- <ion-item> -->
            <ion-select placeholder="Opção de pagamento" formControlName="paymentType">
              <ion-select-option value="darf">DARF</ion-select-option>
            </ion-select>
            <!-- </ion-item> -->
            <p text-right no-margin class="error" *ngIf="!paymentNoBarcode.controls.paymentType.valid && paymentNoBarcode.controls.paymentType.touched">
              Campo obrigatório
            </p>
            <!-- </div> -->
          </div>
          <div class="footer-request">
            <ion-row padding-vertical text-justify>
              <ion-col no-padding text-start>
                <ion-button color="primary" fill="outline" [routerLink]="['/wallet']" routerDirection="back">Voltar</ion-button>
              </ion-col>
              <ion-col no-padding text-end>
                <ion-button color="primary" (click)="setStep(2)" [disabled]="!paymentNoBarcode.controls.paymentType.valid">Continuar</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <div *ngIf="step == 2">
          <div class="header-request">
            <p>Preencha as informações abaixo:</p>
          </div>
          <div class="body-request">
            <ion-item>
              <ion-label position="stacked" class="large-stacked">Nome</ion-label>
              <ion-input formControlName="name"></ion-input>
            </ion-item>
            <p text-right no-margin class="error" *ngIf="!paymentNoBarcode.controls.name.valid && paymentNoBarcode.controls.name.touched">
              Campo obrigatório
            </p>

            <ion-item>
              <ion-label position="stacked" class="large-stacked">Telefone</ion-label>
              <ion-input formControlName="phone" [brmasker]="{form: paymentNoBarcode.get('phone'), phone: true}"></ion-input>
            </ion-item>
            <p text-right no-margin class="error" *ngIf="!paymentNoBarcode.controls.phone.valid && paymentNoBarcode.controls.phone.touched">
              Campo obrigatório
            </p>

            <ion-item>
              <ion-label position="stacked" class="large-stacked">
                Período de apuração:
              </ion-label>
              <ion-datetime month-short-names="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" cancel-text="cancelar"
                done-text="confirmar" display-format="DD/MM/YYYY" picker-format="DD MMM YYYY" formControlName="calculationPeriod">
              </ion-datetime>
            </ion-item>
            <p text-right no-margin class="error" *ngIf="!paymentNoBarcode.controls.calculationPeriod.valid && paymentNoBarcode.controls.calculationPeriod.touched">
              Campo obrigatório
            </p>

            <ion-item>
              <ion-label position="stacked" class="large-stacked">CPF/CNPJ</ion-label>
              <ion-input formControlName="cpfCnpj" [brmasker]="{form: paymentNoBarcode.get('cpfCnpj'), person: true}"></ion-input>
            </ion-item>
            <p text-right no-margin class="error" *ngIf="!paymentNoBarcode.controls.cpfCnpj.valid && paymentNoBarcode.controls.cpfCnpj.touched">
              Campo obrigatório
            </p>
          </div>
          <div class="footer-request">
            <ion-row padding-vertical text-justify>
              <ion-col no-padding text-start>
                <ion-button color="primary" fill="outline" (click)="setStep(1)">Voltar</ion-button>
              </ion-col>
              <ion-col no-padding text-end>
                <ion-button color="primary" (click)="setStep(3)" [disabled]="!paymentNoBarcode.controls.name.valid || !paymentNoBarcode.controls.phone.valid || !paymentNoBarcode.controls.calculationPeriod.valid || !paymentNoBarcode.controls.calculationPeriod.valid || !paymentNoBarcode.controls.cpfCnpj.valid">Continuar</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <div *ngIf="step == 3">
          <div class="header-request">
            <p>Preencha as informações abaixo:</p>
          </div>
          <div class="body-request">
            <ion-item>
              <ion-label position="stacked" class="large-stacked">Código da receita</ion-label>
              <ion-input formControlName="recipeCode"></ion-input>
            </ion-item>
            <p text-right no-margin class="error" *ngIf="!paymentNoBarcode.controls.recipeCode.valid && paymentNoBarcode.controls.recipeCode.touched">
              Campo obrigatório
            </p>

            <ion-item>
              <ion-label position="stacked" class="large-stacked">Número de referência</ion-label>
              <ion-input formControlName="referenceNumber"></ion-input>
            </ion-item>
            <p text-right no-margin class="error" *ngIf="!paymentNoBarcode.controls.referenceNumber.valid && paymentNoBarcode.controls.referenceNumber.touched">
              Campo obrigatório
            </p>

            <ion-item>
              <ion-label position="stacked" class="large-stacked">
                Data de vencimento:
              </ion-label>
              <ion-datetime month-short-names="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" cancel-text="cancelar"
                done-text="confirmar" display-format="DD/MM/YYYY" picker-format="DD MMM YYYY" formControlName="dueDate">
              </ion-datetime>
            </ion-item>
            <p text-right no-margin class="error" *ngIf="!paymentNoBarcode.controls.dueDate.valid && paymentNoBarcode.controls.dueDate.touched">
              Campo obrigatório
            </p>

            <ion-item>
              <ion-label position="stacked" class="large-stacked">Valor principal</ion-label>
              <ion-input formControlName="mainValue" (ionBlur)="changeValue()" [brmasker]="{form: paymentNoBarcode.get('mainValue'), money: true}"></ion-input>
            </ion-item>
            <p text-right no-margin class="error" *ngIf="!paymentNoBarcode.controls.mainValue.valid && paymentNoBarcode.controls.mainValue.touched">
              Campo obrigatório
            </p>

            <ion-item>
              <ion-label position="stacked" class="large-stacked">Valor da multa</ion-label>
              <ion-input formControlName="fineAmount" (ionBlur)="changeValue()" [brmasker]="{form: paymentNoBarcode.get('fineAmount'), money: true}"></ion-input>
            </ion-item>
            <p text-right no-margin class="error" *ngIf="!paymentNoBarcode.controls.fineAmount.valid && paymentNoBarcode.controls.fineAmount.touched">
              Campo obrigatório
            </p>

            <ion-item>
              <ion-label class="large-stacked" position="stacked">Valor dos juros e/ou encargos</ion-label>
              <ion-input formControlName="interestAmount" (ionBlur)="changeValue()" [brmasker]="{form: paymentNoBarcode.get('interestAmount'), money: true}"></ion-input>
            </ion-item>
            <p text-right no-margin class="error" *ngIf="!paymentNoBarcode.controls.interestAmount.valid && paymentNoBarcode.controls.interestAmount.touched">
              Campo obrigatório
            </p>

            <ion-item>
              <ion-label position="stacked" class="large-stacked">Valor total</ion-label>
              <ion-input [(ngModel)]="amount" name="amount" [ngModelOptions]="{standalone: true}" [readonly]="paymentNoBarcode.controls.amount"></ion-input>
            </ion-item>

          </div>
          <div class="footer-request">
            <ion-row padding-vertical text-justify>
              <ion-col no-padding text-start>
                <ion-button color="primary" fill="outline" (click)="setStep(2)">Voltar</ion-button>
              </ion-col>
              <ion-col no-padding text-end>
                <ion-button color="secondary" (click)="pay()" [disabled]="!paymentNoBarcode.controls.recipeCode.valid || !paymentNoBarcode.controls.referenceNumber.valid || !paymentNoBarcode.controls.dueDate.valid || !paymentNoBarcode.controls.mainValue.valid || !paymentNoBarcode.controls.fineAmount.valid || !paymentNoBarcode.controls.interestAmount.valid">Pagar</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </form>

  </div>
  <div class="background"></div>
</ion-content>