<ion-grid>
    <ion-row justify-content-center>
      <ion-col size="3"><ion-back-button defaultHref="/wallet" *ngIf="showBackButton"></ion-back-button></ion-col>
      <ion-col>
        <h3 text-center>Seu saldo</h3>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    <ion-row align-items-baseline>
      <ion-col text-center>
        <span class="carteira-header-rs">R$</span><span class="carteira-header-saldo"> {{ (balance?balance:null)| number: '1.2-2' }}<ion-spinner *ngIf="!balance"></ion-spinner></span>
      </ion-col>
    </ion-row>
  </ion-grid>