<ion-header class="header-balance">
  <app-header-balance [balance]="corda.balance" showBackButton="true"></app-header-balance>
</ion-header>

<ion-content class="request">
  <div class="box-wrapper">
    <form *ngIf="!qrValue" [formGroup]="createChargeForm">
      <div class="box box-request" *ngIf="!charge">

        <div *ngIf="step == 1">
          <div class="header-request">
            <p><span>Quanto </span>você quer cobrar?</p>
          </div>
          <div class="body-request">

            <div class="item">
              <div class="bill">R$</div>
              <ion-input formControlName="amount" [brmasker]="{form: createChargeForm.get('amount'), money: true}"
                placeholder="0,00"></ion-input>
            </div>
            <p text-right no-margin class="error" *ngIf="!createChargeForm.controls.amount.valid && createChargeForm.controls.amount.touched">
              Valor inválido
            </p>
          </div>

          <div class="footer-request">
            <ion-row padding-vertical text-justify>
              <ion-col no-padding text-start>
                <ion-button color="primary" fill="outline" [routerLink]="['/wallet']" routerDirection="back">Voltar</ion-button>
              </ion-col>
              <ion-col no-padding text-end>
                <ion-button color="secondary" (click)="setStep(2)">Continuar</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <div *ngIf="step == 2">
          <div class="header-request">
            <p><span>De quem </span>você quer cobrar?</p>
          </div>
          <div class="body-request">
            <div class="item">
              <div class="bill">CPF/CNPJ</div>
              <ion-input formControlName="payerDocument" [brmasker]="{form: createChargeForm.get('payerDocument'), person: true}"
                placeholder="000.000.000-00"></ion-input>
            </div>
            <p text-right no-margin class="error" *ngIf="!createChargeForm.controls.amount.valid && createChargeForm.controls.amount.touched">
              CPF/CNPJ inválido
            </p>
          </div>
          <div class="footer-request">
            <ion-row padding-vertical text-justify>
              <ion-col no-padding text-start>
                <ion-button color="primary" fill="outline" (click)="setStep(1)">Voltar</ion-button>
              </ion-col>
              <ion-col no-padding text-end>
                <ion-button color="secondary" (click)="setStep(3)">Continuar</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <div *ngIf="step == 3">
          <div class="header-request">
            <p><span>Qual é</span> a organização a cobrar?</p>
          </div>
          <div class="body-request">
            <div class="item">
              <div class="bill">Nome</div>
              <ion-select formControlName="payerOrg" placeholder="Organização">
                <ion-select-option value="OrgA">
                    {{orgs['O=OrgA, L=São Paulo, C=BR']}}
                </ion-select-option>
                <ion-select-option value="OrgB">
                    {{orgs['O=OrgB, L=Campinas, C=BR']}}
                </ion-select-option>
                <ion-select-option>
                    {{orgs['O=OrgX, L=São Paulo, C=BR']}}
                </ion-select-option>
                <ion-select-option>
                    {{orgs['O=OrgY, L=São Paulo, C=BR']}}
                </ion-select-option>
                <ion-select-option>
                    {{orgs['O=OrgZ, L=São Paulo, C=BR']}}
                </ion-select-option>
              </ion-select>
              <!--
                  <ion-input formControlName="payerOrg" placeholder="Organização"></ion-input>
                  -->
            </div>
            <p text-right no-margin class="error" *ngIf="!createChargeForm.controls.payerOrg.valid && createChargeForm.controls.payerOrg.touched">
              Organização inválida
            </p>
          </div>
          <div class="footer-request">
            <ion-row padding-vertical text-justify>
              <ion-col no-padding text-start>
                <ion-button color="primary" fill="outline" (click)="setStep(2)">Voltar</ion-button>
              </ion-col>
              <ion-col no-padding text-end>
                <ion-button color="secondary" [disabled]="createChargeForm.invalid" (click)="createCharge()">Confirmar</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </form>


    <div class="box box-qrvalue" *ngIf="charge">
      <div class="body-qrvalue">
        <div text-center>
          <ion-list>
            <ion-item>
              <ion-label>Valor</ion-label>
              <ion-label slot="end">R${{charge.amount}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Pagador</ion-label>
              <ion-label slot="end">{{charge.payerDocument}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Organização</ion-label>
              <ion-label slot="end">{{orgs[charge.payerOrg]}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <div class="footer-qrvalue">
        <ion-row padding-vertical text-justify>
          <ion-col no-padding text-center>
            <ion-button fill="outline" (click)="clear()">Voltar</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div class="background"></div>
</ion-content>