<!-- <ion-header padding class="header-short">
</ion-header>
<ion-content text-center>
<div padding>

  
  <h1> Bem vindo ao <br/> {{ orgName | titlecase}}</h1>
  
  <form padding [formGroup]="signupForm">
    <ion-item>
      <ion-label position="stacked" class="large-stacked">Nome do usuário</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <p no-margin class="error" text-right *ngIf="!signupForm.controls.name.valid && signupForm.controls.name.touched">
      Nome inválido
    </p>

    <ion-item>
      <ion-label position="stacked" class="large-stacked">Telefone</ion-label>
      <ion-input formControlName="document" type="text" [brmasker]="{form: signupForm.get('document'), phone: true}"></ion-input>
    </ion-item>
    <p no-margin class="error" text-right *ngIf="!signupForm.controls.document.valid && signupForm.controls.document.touched">
      CPF/CNPJ inválido
    </p>

    <div padding-vertical text-center>
      <ion-button expand="block" (click)="createUser()" [disabled]="!signupForm.valid">Entrar</ion-button>
    </div>
  </form>
</div>

</ion-content> -->

<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-title>Acesso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>

  <img src="../../assets/images/logo.svg" padding>

  <form [formGroup]="signupForm" class="form-cards" text-left>
    <div class="form-item">
      <ion-label color="primary">Nome do usuário</ion-label>
      <ion-input formControlName="name" type="text" class="mat-elevation-z2 input-card"></ion-input>
    </div>

    <div class="form-item" text-left>
      <ion-label color="primary">Telefone</ion-label>
      <ion-input formControlName="document" type="text" class="mat-elevation-z2 input-card" [brmasker]="{form: signupForm.get('document'), phone: true}"></ion-input>
    </div>
  </form>

  <!-- <p *ngIf="loginForm.controls.govId.touched && !loginForm.controls.govId.valid" class="msg-error">
    <i class="material-icons">error_outline</i> CPF inválido
  </p>
  <p *ngIf="loginStep == 'signUp'" class="msg-error">
    <i class="material-icons">error_outline</i> Usuário não encontrado
  </p>
  <p class="msg-info">
    <a (click)="openRecoverPasswordAlert()"><u>Esqueci minha senha</u></a>
  </p> -->
  <div>
    <!--
    <ion-button text-bottom color="primary" expand="block" class="ion-text-uppercase align-bottom" (click)="verifyGovId()"
      *ngIf="loginStep == 'verifyId'" [disabled]="!loginForm.controls.govId.valid">
      Continuar
    </ion-button>
  -->
  <div padding-top>
    <ion-button text-bottom margin-bottom color="primary" expand="block" class="ion-text-uppercase align-bottom" (click)="createUser()"
    [disabled]="!signupForm.valid">
      Entrar
    </ion-button>
  </div>
    <!-- <ion-button text-bottom color="primary" expand="block" fill="outline" class="align-bottom"
      (click)="navToSignUp()">
      Não tem conta? Cadastre-se
    </ion-button> -->
  </div>
</ion-content>