ion-card-header {
  font-weight: bold;
}

.header-balance {
  background-color: #0b3976;
}

.background {
  position: absolute;
  top: 0;
  height: 95px;
  background-color: #0b3976;
  width: 100%;
}

.payment {
  --background: #f3f4f7;

  .box-wrapper {
    padding: 0 15px;
    margin-bottom: 50px;
  }

  .box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 999;
    margin-top: 20px;
    width: 100%;
  }

  .box-header {
    border-bottom: solid 1px #e8e8e8;
    padding: 22px;

    p {
      font-weight: bold;
      line-height: 20px;
    }
  }

  .box-body {
    padding: 15px 22px;
  }

  .box-footer {
    padding: 5px 22px 5px;
  }

  .box-step-0 {
    .item {
      align-items: center;
      display: flex;
    }
  }

  .box-step-2 {
    margin-top: 20px;

    .item {
      margin-bottom: 0;
    }

    .card-footer {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      padding: 5px 22px;
    }
  }

  ion-input {
    color: #8c8c8c;
  }

  ion-datetime {
    color: #8c8c8c;
  }

  .item {
    margin-bottom: 15px;
  }

  ion-card {
    background-color: #fff;
    position: relative;
    margin: 0 0 10px;
    z-index: 9999;

    ion-card-header {
      border-bottom: solid 1px #e8e8e8;
    }
  }
}
