<ion-header class="header-balance">
  <app-header-balance [balance]="corda.balance" [showBackButton]="!slip"></app-header-balance>
</ion-header>

<ion-content class="payment">

  <div class="box-wrapper">
    <div class="box box-step-0" *ngIf="step == 0">
      <!-- TODO: Alterar texto descritivo quando zxing qr scanner conseguir ler barcode boleto
      <p padding-horizontal text-center>
        Faça a leitura do código de barras através do leitor ou digite os números correspondentes
      </p>
      -->
      <div class="box-header">
        <p>Digite o código de barras do boleto</p>
      </div>
      <div class="box-body">
        <form>
          <div class="item">
            <ion-input [(ngModel)]="paymentCode" name="paymentCode" placeholder="Código de Barras"></ion-input>
            <!-- TODO: Liberar botão câmera quando zxing qr scanner conseguir ler barcode boleto -->
              <a slot="end" (click)="openQrModal()" type="number">
                <ion-icon name="camera"></ion-icon>
              </a>
              
          </div>
          <p *ngIf="false" text-right no-margin class="error">
            Código inválido
          </p>
        </form>
      </div>
      <div class="box-footer">
        <ion-row padding-vertical text-justify>
            <ion-col no-padding text-start>
                <ion-button color="primary" fill="outline" (click)="dismissModal()">Cancelar</ion-button>
          </ion-col>
            <ion-col no-padding text-end>
              <ion-button color="primary" (click)="setStep(1); identifyCode();">Continuar</ion-button>
            </ion-col>
          </ion-row>
      </div>
    </div>
    <div class="box box-step-1" *ngIf="step == 1">
      <div class="box-header">
        <p>Informações do pagamento</p>
      </div>
      <div class="box-body">
        <form [formGroup]="paymentSlipForm" class="transfer-form">
          <div class="item">
            <ion-label position="stacked" class="large-stacked" type="number">
              Valor (R$):
            </ion-label>
            <ion-input formControlName="amount" [brmasker]="{form: paymentSlipForm.get('amount'), money: true}"
              [readonly]="true"></ion-input>
          </div>
          <p text-right no-margin class="error" *ngIf="!paymentSlipForm.controls.amount.valid && paymentSlipForm.controls.amount.touched">
            Valor inválido
          </p>
          <p text-right no-margin class="error" *ngIf="parseAmountTx(paymentSlipForm.controls.amount.value) > corda.balance">
            Saldo insuficiente
          </p>
          <div class="item" *ngIf="operationType=='boleto'">
            <ion-label position="stacked" class="large-stacked">
              Data de vencimento:
            </ion-label>
            <ion-datetime month-short-names="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" cancel-text="cancelar"
              done-text="confirmar" display-format="DD/MM/YYYY" picker-format="DD MMM YYYY" formControlName="dueDate"
              [readonly]="true"></ion-datetime>
          </div>
          <p text-right no-margin class="error" *ngIf="!paymentSlipForm.controls.dueDate.valid && paymentSlipForm.controls.dueDate.touched">
            Data inválida
          </p>
          <div class="item">
            <ion-label position="stacked" class="large-stacked">
              Emissor:
            </ion-label>
            <ion-input formControlName="orgToName" [readonly]="true"></ion-input>
          </div>
          <p text-right no-margin class="error" *ngIf="!paymentSlipForm.controls.orgToName.valid && paymentSlipForm.controls.orgToName.touched">
            Organização inválida
          </p>

          <!-- TODO: Refatorar para buscar detalhes do boleto
          <div class="item">
            <ion-label position="stacked" class="large-stacked" type="number">
              CPF/CNPJ do beneficiário:
            </ion-label>
            <ion-input formControlName="accountToId" [readonly]="true"></ion-input>
          </div>
          <p text-right no-margin class="error" *ngIf="!paymentSlipForm.controls.accountToId.valid && paymentSlipForm.controls.accountToId.touched">
            CPF/CNPJ inválido
          </p>

          <div class="item">
            <ion-label position="stacked" class="large-stacked">
              Pagar para:
            </ion-label>
            <ion-input formControlName="accountToName" [readonly]="true"></ion-input>
          </div>
          <p text-right no-margin class="error" *ngIf="!paymentSlipForm.controls.accountToName.valid && paymentSlipForm.controls.accountToName.touched">
            Destinatário inválido
          </p>
        -->

          <div class="item">
            <ion-label position="stacked" class="large-stacked">
              Data de pagamento:
            </ion-label>
            <ion-datetime month-short-names="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" cancel-text="cancelar"
              done-text="confirmar" display-format="DD/MM/YYYY" picker-format="DD MMM YYYY" formControlName="paymentDate"
              [min]="moment().format('YYYY-MM-DD')" placeholder="DD/MM/AAAA">
            </ion-datetime>
          </div>
          <p text-right no-margin class="error" *ngIf="!paymentSlipForm.controls.paymentDate.valid && paymentSlipForm.controls.paymentDate.touched">
            Data inválida
          </p>
        </form>
      </div>
      <div class="box-footer">
        <ion-row padding-vertical text-justify>
          <ion-col no-padding text-start>
            <ion-button color="primary" fill="outline" (click)="setStep(0)">Voltar</ion-button>
          </ion-col>
          <ion-col no-padding text-end>
            <ion-button color="primary" (click)="setStep(2)" [disabled]="parseAmountTx(paymentSlipForm.controls.amount.value) > corda.balance || !paymentSlipForm.valid">Continuar</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="box-step-2" *ngIf="step == 2">
      <!--dados para pagamento-->
      <ion-card>
        <ion-card-header>
          <ion-label> Dados do pagador</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">
            <ion-label text-wrap>
              Titular: {{ user.name }}
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label text-wrap>
              Organização: {{ user.orgName=='OrgA'?'Sem Parar':'VIVO' }}
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <!--dados do beneficiario-->
      <!--
      <ion-card>
        <ion-card-header>
          <ion-label> Dados do beneficiário</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">
            <ion-label text-wrap>
              Nome: {{ paymentSlipForm.value.accountToName }}
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label text-wrap>
              CPF/CNPJ: {{ paymentSlipForm.value.accountToId }}
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label text-wrap>
              Organização: {{ paymentSlipForm.value.orgToName }}
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      -->
      <!--informações do pagamento-->
      <ion-card>
        <ion-card-header>
          <ion-label> Informações do pagamento</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">
            <ion-label text-wrap>
              Valor: R$ {{ paymentSlipForm.value.amount }}
            </ion-label>
          </ion-item>
          <ion-item lines="none" *ngIf="operationType=='boleto'">
            <ion-label text-wrap>
              Vencimento: {{ moment(paymentSlipForm.value.dueDate).format('DD MMM YYYY') }}
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label text-wrap>
              Data Pagamento: {{ moment(paymentSlipForm.value.paymentDate).format('DD MMM YYYY') }}
            </ion-label>
          </ion-item>
          <!--Duplicata Organização-->
          <ion-item lines="none">
              <ion-label text-wrap>
                Emissor: {{ paymentSlipForm.value.orgToName }}
              </ion-label>
            </ion-item>
          <ion-item lines="none">
            <ion-label text-wrap>
              Código de barras: {{ paymentCode }}
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <div class="card-footer">
        <ion-row padding-vertical text-justify>
          <ion-col no-padding text-start>
            <ion-button color="primary" fill="outline" (click)="setStep(1)">Voltar</ion-button>
          </ion-col>
          <ion-col no-padding text-end>
            <ion-button color="secondary" (click)="sendPayment()">Confirmar</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div class="background"></div>
</ion-content>
