// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.error {
  font-size: 0.87em;
  color: var(--ion-color-danger)
}

.large-stacked {
  font-size: 1em !important;
}

.bold {
  font-weight: bold !important;
}

.light-input {
  background-color: #fff;
  color: var(--ion-text-color);
  font-size: 20px;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.form-footer {
  background-color: var(--ion-color-primary);
  color: #fff;
}

.background-gradient {
  --ion-background-color:linear-gradient(to bottom, var(--background-light), var(--background-dark));
  --ion-text-color: #fff;
}

.header-balance {
  background: var(--background);
  color: #fff;
  justify-content: center;
  
  .carteira-header-rs {
    font-size: 14px;
  }
  
  .carteira-header-saldo {
    font-size: 50px;
  }
  
  ion-icon {
    font-size: 2.5em;
  }
}

.header-short {
  background: linear-gradient(to right, var(--background-light), var(--background-dark));
  color: #fff;
  font-weight: bold;
  min-height: 48px;
  
  p {
    padding-left: 16px;
  }
}

*, *::after, *::before {
  margin: 0;
}

.header-md:after {
  background-image: none;
}

.msg-error {
  text-align: start;
  color: var(--ion-color-primary);
  font-size: 12px;
  font-weight: bold;

  .material-icons {
    font-size: 18px;
    font-weight: bold;
  }
}

.msg-large {
  font-size: 18px;
}

.msg-info {
  text-align: start;
  font-size: 14px;

  .material-icons {
    font-size: 18px;
    font-weight: bold;
  }
}

ion-button {
  --border-radius: 4px;
}

ion-header {
  ion-toolbar {
    display: flex;
    align-content: center;
    background: var(--ion-color-primary);
    color: #ffffff;
    min-height: 56px;
  }
  ion-title {
    font-size: 20px;
  }
}

ion-content {
  --ion-background-color: var(--ion-color-light);
  display: flex;
}

:root {
  --ion-background-color: var(--ion-color-light);
}

.form-cards {
  .input-card {
    border-radius: 5px;
    padding: 8px;
    background-color: #ffffff;
  }

  ion-label {
    z-index: 3;
  }
}

.mat-stepper-horizontal {
  background: transparent;
}

.mat-horizontal-content-container {
  padding: 0px !important;
}

.pr {
  padding: 0 8px 0 0;
}

.pl {
  padding: 0 0 0 8px;
}

.form-item {
  padding-top: 12px;

  ion-label {
    padding-left: 12px;
    font-size: 12px;
    font-weight: bold;
    color: var(--ion-color-primary)
  }

  ion-input {
    margin-top: 4px;
    --padding-start: 12px;
    font-size: 14px;
    font-weight: bold;
  }

}

.readonly {
  color: var(--ion-text-color-light);
}

.footer-buttons {
  padding-bottom: 40px;
  margin-top: auto;
  margin-bottom: 0;
}

.align-center {
  display: flex;
  align-content: center;
}
