<ion-header class="header-balance">
  <app-header-balance [balance]="corda.balance" showBackButton="true"></app-header-balance>
</ion-header>

<ion-content>
  <div class="box-wrapper">
    <div *ngIf="transferList.length > 0; else emptyCard">
      <ion-card *ngFor="let transfer of transferList; let i=  index">
        <!--Pagamento Instantâneo-->
        <div *ngIf="transfer.type=='transfer'">
          <ion-item>
            <ion-icon name="arrow-dropup" color="success" *ngIf="transfer.state.data.transfer.accountFrom != user.linearId"></ion-icon>
            <ion-icon name="arrow-dropdown" color="danger" *ngIf="transfer.state.data.transfer.accountFrom == user.linearId"></ion-icon>
            <ion-label [ngClass]="transfer.state.data.transfer.accountFrom != user.linearId ? 'tx-in' : 'tx-out'">R$
              {{transfer.state.data.transfer.amount | number: '1.2-2'}}</ion-label>
            <ion-label slot="end">
              Data: {{moment(transfer.timestamp).format('DD-MM-YYYY')}}
            </ion-label>
          </ion-item>
          <ion-card-content>
            <p>
              <span><span class="bold">De:</span> {{transfer.state.data.transfer.accountFromName}}</span>

              <!-- <span float-right><span class="bold">Org:</span> {{ orgs[transfer.state.data.transfer.orgFrom] }}</span> -->
              </p>
            <p>
              <span><span class="bold">Para:</span> {{transfer.state.data.transfer.accountToName}}</span>
              <!-- <span float-right><span class="bold">Org:</span> {{ orgs[transfer.state.data.transfer.orgFrom] }}</span> -->
            </p>
            <p text-wrap *ngIf="transfer.info">
              <span class="bold">Comprovante:</span> {{transfer.ref.txhash}}
            </p>
          </ion-card-content>
          <span padding-bottom padding-horizontal float-left>
              {{transfer.state.data.transfer.accountToName=='Government'?'DARF':'Pagamento instantâneo'}}
          </span>
          <a padding-bottom padding-horizontal float-right (click)="toggleInfo(transfer)">
            <ion-icon name="add" *ngIf="!transfer.info"></ion-icon>
            <ion-icon name="remove" *ngIf="transfer.info"></ion-icon>
          </a>
        </div>

        <!--Boleto-->
        <div *ngIf="transfer.type=='payment'">
          <ion-item>
            <ion-icon name="arrow-dropdown" color="danger"></ion-icon>
            <ion-label class="tx-out">R$ {{transfer.state.data.paymentSlip.amount | number: '1.2-2'}}</ion-label>
            <ion-label slot="end">
              Data: {{moment(transfer.timestamp).format('DD-MM-YYYY')}}
            </ion-label>
          </ion-item>
          <ion-card-content>
            <p *ngIf="transfer.state.data.paymentSlip.code">
              <span><span class="bold">Código do boleto:</span> {{transfer.state.data.paymentSlip.code}}</span>
            </p>
            <p text-wrap *ngIf="transfer.info">
              <span class="bold">Comprovante:</span> {{transfer.ref.txhash}}
            </p>
          </ion-card-content>
          <span padding-bottom padding-horizontal float-left *ngIf="transfer.state.data.paymentSlip.code">
            Pagamento de Boleto
          </span>
          <span padding-bottom padding-horizontal float-left *ngIf="!transfer.state.data.paymentSlip.code">
            Pagamento de Darf
          </span>
          <a padding-bottom padding-horizontal float-right (click)="toggleInfo(transfer)">
            <ion-icon name="add" *ngIf="!transfer.info"></ion-icon>
            <ion-icon name="remove" *ngIf="transfer.info"></ion-icon>
          </a>
        </div>

        <!--Cobrança Direta-->
        <div *ngIf="transfer.type=='charge'">
          <ion-item>
            <ion-icon name="arrow-dropup" color="success" *ngIf="transfer.state.data.directPayment.payerAccount != user.linearId"></ion-icon>
            <ion-icon name="arrow-dropdown" color="danger" *ngIf="transfer.state.data.directPayment.payerAccount == user.linearId"></ion-icon>
            <ion-label [ngClass]="transfer.state.data.directPayment.payerAccount != user.linearId ? 'tx-in' : 'tx-out'">R$
              {{transfer.state.data.directPayment.amount | number: '1.2-2'}}</ion-label>
            <ion-label slot="end">
              Data: {{moment(transfer.timestamp).format('DD-MM-YYYY')}}
            </ion-label>
          </ion-item>
          <ion-card-content>
            <p><span><span class="bold">De:</span> {{transfer.state.data.directPayment.payerName}}</span>
              <span float-right><span class="bold">Org:</span>
                {{ orgs[transfer.state.data.directPayment.payerOrg] }}
              </span></p>
            <p><span><span class="bold">Para:</span> {{transfer.state.data.directPayment.receiverName}}</span>
              <span float-right><span class="bold">Org:</span>
                {{ orgs[transfer.state.data.directPayment.receiverOrg] }}
              </span></p>
            <p text-wrap *ngIf="transfer.info">
              <span class="bold">Comprovante:</span> {{transfer.ref.txhash}}
            </p>
          </ion-card-content>
          <span padding-bottom padding-horizontal float-left>
            Cobrança Direta
          </span>
          <a padding-bottom padding-horizontal float-right (click)="toggleInfo(transfer)">
            <ion-icon name="add" *ngIf="!transfer.info"></ion-icon>
            <ion-icon name="remove" *ngIf="transfer.info"></ion-icon>
          </a>
        </div>
      </ion-card>
    </div>
    <ng-template #emptyCard>
      <ion-card class="empty-card">
        <h1>Você ainda não possui nenhuma transação</h1>
      </ion-card>
    </ng-template>
  </div>
  <div class="background"></div>
</ion-content>