<ion-header class="header-balance">
  <app-header-balance [balance]="corda.balance" showBackButton="true"></app-header-balance>
</ion-header>

<ion-content>
  <div class="box-wrapper">
    <div *ngIf="payablesList.length > 0; else emptyCard">
      <ion-card *ngFor="let charge of payablesList; let i=  index">
        <!--Cobranças Diretas-->
        <div *ngIf="charge.state">
          <ion-item [ngClass]="charge.state.data.directPayment.status != 'PENDING' ? 'paid' : 'pending'">
            <ion-label>
              R$ {{charge.state.data.directPayment.amount | number: '1.2-2'}}
            </ion-label>
            <ion-label slot="end" text-right>
              Venc: {{moment(charge.timestamp).add(30, 'days').format('DD/MM/YYYY')}}
            </ion-label>
          </ion-item>
          <ion-card-content>
            <!--TODO: Adicionar campo documento (CPF/CNPJ) do pagador-->
            <p>
              <span>
                De: {{charge.state.data.directPayment.payerName}} {{charge.state.data.directPayment.payerDocument}}
              </span>
              <span float-right>
                Org: {{ orgs[charge.state.data.directPayment.payerOrg] }}
              </span>
            </p>
            <p>
              <!--TODO: Adicionar campo documento (CPF/CNPJ) do recebedor-->
              <span>
                Para: {{charge.state.data.directPayment.receiverName}}
                {{charge.state.data.directPayment.receiverDocument}}
              </span>
              <span float-right>
                Org: {{ orgs[charge.state.data.directPayment.receiverOrg] }}
              </span>
            </p>
            <p>
              <!--TODO: Adicionar campo documento (CPF/CNPJ) do recebedor-->
              <span>
                Cobrança
              </span>
            </p>
          </ion-card-content>
          <ion-row>
              <ion-col padding>
                <img src="../../../assets/logos/cobranca.png" class="logo">
              </ion-col>
              <ion-col>
                <ion-button float-right margin fill="outline" (click)="openChargeModal(charge)">
                  Pagar
                </ion-button>
              </ion-col>
            </ion-row>
        </div>
        <!--Boletos Pague Veloz-->
        <div *ngIf="charge.codigoDeBarras">
          <ion-item class="pending">
            <ion-label>
              R$ {{charge.valor | number: '1.2-2'}}
            </ion-label>
            <ion-label slot="end" text-right>
              Venc: {{charge.vencimento}}
            </ion-label>
          </ion-item>
          <ion-card-content>
            <!--TODO: Adicionar campo documento (CPF/CNPJ) do pagador-->
            <p>
              <span>
                De: {{charge.sacado}} {{charge.docSacado}}
              </span>
            </p>
            <p>
              <!--TODO: Adicionar campo documento (CPF/CNPJ) do recebedor-->
              <span>
                Para: {{charge.issuer | uppercase}}
              </span>
            </p>
            <p>
              <!--TODO: Adicionar campo documento (CPF/CNPJ) do recebedor-->
              <span>
                Boleto: <a [href]="charge.url" target="_blank">Link externo</a>
              </span>
            </p>
          </ion-card-content>
          <ion-row>
            <ion-col padding>
              <img src="{{'../../../assets/logos/' + (charge.issuer?charge.issuer:'cobranca') + '.png'}}" class="logo">
            </ion-col>
            <ion-col>
              <ion-button float-right margin fill="outline" (click)="openChargeModal(charge)">
                Pagar
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </div>
    <ng-template #emptyCard>
      <ion-card class="empty-card">
        <h1>Você ainda não possui nenhuma cobrança</h1>
      </ion-card>
    </ng-template>
  </div>
  <div class="background"></div>
</ion-content>