.tx-in {
  color: var(--ion-color-success);
}

.tx-out {
  color: var(--ion-color-danger);
}

.background {
  position: absolute;
  top: 0;
  height: 95px;
  background-color: #0b3976;
  width: 100%;
}

.box-wrapper {
  padding: 0 15px;
}

ion-card {
  background-color: #fff;
  position: relative;
  margin: 0 0 10px;
  z-index: 99999;
}

.empty-card {
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 23px;
    padding: 10px 30px;
    margin: 0;
    text-align: center;
    line-height: 35px;
  }
}

.logo {
  width: 48px;
}