  <ion-content padding>
  <div  class="scanner-shell">
    <zxing-scanner #scanner [device]="currentDevice" [formats]="['QR_CODE', 'ITF']" (scanComplete)="scanCompleteHandler($event)"></zxing-scanner>
  </div>
  <div id="barcode-frame">
    <div text-left>
      <ion-button (click)="dismissModal()" id="sair">X</ion-button>
    </div>
    <div text-center>
      <ion-button *ngIf="hasBarcode" (click)="closeModal()" fill="clear" id="digitar">Digitar código de barras</ion-button>
    </div>
  </div>
  <div id="barcode-line"></div>
  
  </ion-content>