/deep/ .scanner-shell {


  z-index: 1;

  zxing-scanner {
    height: 100% !important;

    video {
      height: 100% !important;
      width: 100% !important;
      position: fixed !important;
      top: 50% !important;
      left: 50% !important;
      /* bring your own prefixes */
      transform: translate(-50%, -50%) !important;
    }
  }

  background: none transparent;
  height: 100%;

}

#barcode-frame {

  z-index: 2;
  height: 100% !important;
  width: 100% !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  /* bring your own prefixes */
  transform: translate(-50%, -50%) !important;
  border-top: 100px;
  border-bottom: 100px;
  border-color: rgba(black, 0.8);
  border-style: solid;
  background: none transparent;

  #sair {
    margin-top: -150px;
  }
  #digitar {
    margin-top: -150px;
    color: white !important;
  }
}

#barcode-line {

  z-index: 2;
  height: 0% !important;
  width: 100% !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  /* bring your own prefixes */
  transform: translate(-50%, -50%) !important;
  border-width: 4px;
  border-color: rgba(red, 0.5);
  border-style: solid;
  background: none transparent;
}