<ion-header class="header-balance">
  <app-header-balance [balance]="corda.balance" showBackButton="true"></app-header-balance>
</ion-header>

<ion-content class="transfer">
  <div class="box-wrapper">
    <div class="box box-transfer">
      <div class="header-transfer">
        <p>Informações da transferência:</p>
      </div>
      <div class="body-transfer">
        <form [formGroup]="transferForm" class="transfer-form">
          <div class="item">
            <ion-label position="stacked" class="large-stacked">
              Valor:
            </ion-label>
            <ion-input formControlName="amount" value="0,00" [brmasker]="{form: transferForm.get('amount'), money: true}"
              [readonly]="hasReceivedData"></ion-input>
            <p text-right no-margin class="error" *ngIf="!transferForm.controls.amount.valid && transferForm.controls.amount.touched">
              Valor inválido
            </p>
          </div>
          <!-- <div class="item">
            <ion-label position="stacked" class="large-stacked">
              Organização de destino:
            </ion-label>
            <ion-select [(ngModel)]="orgTo" formControlName="orgToName" placeholder="Organização">
                <ion-select-option value="OrgA">
                    {{orgs['O=OrgA, L=São Paulo, C=BR']}}
                </ion-select-option>
                <ion-select-option value="OrgB">
                    {{orgs['O=OrgB, L=Campinas, C=BR']}}
                </ion-select-option>
                <ion-select-option>
                    {{orgs['O=OrgX, L=São Paulo, C=BR']}}
                </ion-select-option>
                <ion-select-option>
                    {{orgs['O=OrgY, L=São Paulo, C=BR']}}
                </ion-select-option>
                <ion-select-option>
                    {{orgs['O=OrgZ, L=São Paulo, C=BR']}}
                </ion-select-option>
              </ion-select>
            <p text-right no-margin class="error" *ngIf="!transferForm.controls.orgToName.valid && transferForm.controls.orgToName.touched">
              Organização inválida
            </p>
          </div> -->
          <div class="item">
            <ion-label position="stacked" class="large-stacked">
              Pagar para:
            </ion-label>
            <ion-input formControlName="accountToName" [readonly]="hasReceivedData"></ion-input>
            <p text-right no-margin class="error" *ngIf="!transferForm.controls.accountToName.valid && transferForm.controls.accountToName.touched">
              Destinatário inválido
            </p>
          </div>
        </form>
      </div>
      <div class="footer-transfer">
        <ion-row padding-vertical text-justify>
          <ion-col no-padding text-start>
            <ion-button color="primary" fill="outline" [routerLink]="['/wallet']" routerDirection="back">Cancelar</ion-button>
          </ion-col>
          <ion-col no-padding text-end>
            <ion-button color="primary" [disabled]="parseAmountTx(transferForm.controls.amount.value) > corda.balance || transferForm.invalid"
              (click)="pay()">Confirmar</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div class="background"></div>
</ion-content>