.background {
  position: absolute;
  top: 0;
  height: 95px;
  background-color: #0b3976;
  width: 100%;
}

.header-balance {
  background-color: #0b3976;
}

.transfer {
  --background: #f3f4f7;

  .box-wrapper {
    padding: 0 15px;
  }

  .box {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 999;
    margin-top: 20px;
    width: 100%;
  }

  .box-transfer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .header-transfer {
      border-bottom: solid 1px #e8e8e8;
      padding: 22px;

      p {
        font-weight: bold;
      }
    }

    .body-transfer {
      padding: 15px 22px;
    }

    .footer-transfer {
      padding: 0 22px 11px;
    }

    ion-input {
      color: #8c8c8c;
    }

    .item {
      margin-bottom: 15px;
    }
  }
}