<ion-header class="header-balance">
    <app-header-balance [balance]="corda.balance"></app-header-balance>
</ion-header>
  
  <ion-content class="transfer">
    <div class="box-wrapper">
      <div class="box box-transfer">
        <div class="header-transfer">
          <p>Informações da transferência:</p>
        </div>
        <div class="body-transfer">
          <form [formGroup]="chargeForm" class="transfer-form">
            <div class="item">
              <ion-label position="stacked" class="large-stacked">
                Valor:
              </ion-label>
              <ion-input formControlName="amount" value="0,00" [brmasker]="{form: chargeForm.get('amount'), money: true}"
                [readonly]="hasReceivedData"></ion-input>
              <p text-right no-margin class="error" *ngIf="!chargeForm.controls.amount.valid && chargeForm.controls.amount.touched">
                Valor inválido
              </p>
            </div>
            <div class="item">
              <ion-label position="stacked" class="large-stacked">
                Organização de destino:
              </ion-label>
              <ion-input formControlName="receiverOrgName" [readonly]="hasReceivedData"></ion-input>
              <p text-right no-margin class="error" *ngIf="!chargeForm.controls.receiverOrg.valid && chargeForm.controls.receiverOrg.touched">
                Organização inválida
              </p>
            </div>
            <div class="item">
              <ion-label position="stacked" class="large-stacked">
                Pagar para:
              </ion-label>
              <ion-input formControlName="receiverName" [readonly]="hasReceivedData"></ion-input>
              <p text-right no-margin class="error" *ngIf="!chargeForm.controls.receiverAccount.valid && chargeForm.controls.receiverAccount.touched">
                Destinatário inválido
              </p>
            </div>
            <div class="item">
                <ion-label position="stacked" class="large-stacked">
                  CPF/CNPJ:
                </ion-label>
                <ion-input formControlName="receiverDocument" [readonly]="hasReceivedData"></ion-input>
                <p text-right no-margin class="error" *ngIf="!chargeForm.controls.receiverDocument.valid && chargeForm.controls.receiverDocument.touched">
                  Destinatário inválido
                </p>
              </div>
          </form>
        </div>
        <div class="footer-transfer">
          <ion-row padding-vertical text-justify>
            <ion-col no-padding text-start>
              <ion-button color="primary" fill="outline" (click)="dismissModal()">Cancelar</ion-button>
            </ion-col>
            <ion-col no-padding text-end>
              <ion-button color="secondary" [disabled]="parseAmountTx(chargeForm.controls.amount.value) > corda.balance || chargeForm.invalid"
                (click)="payCharge()">Confirmar</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </ion-content>