<ion-header>
  <ion-toolbar color="primary">
    <ion-button fill="clear" slot="start" color="light" (click)="showUserInfo()">
      <ion-icon name="person"></ion-icon>
      <!-- TODO: Refatorar para exibir o nome de usuário, e não CPF -->
      {{user.name}}
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-balance">
    <div class="ion-align-items-end card-img">
      <div class="card-txt">
        <ion-text class="text">
          <!-- TODO: Refatorar para exibir o nome de usuário, e não CPF -->
          <p>{{user.name}}</p>
        </ion-text>
        <ion-text class="text">
          <!-- TODO: Refatorar para exibir CPF, e não o nome de usuário -->
          <p>{{user.document}}</p>
        </ion-text>
      </div>
    </div>

    <ion-card-title>
      <ion-item class="card-title">
        <ion-text color="dark">
          Saldo
        </ion-text>
        <ion-text slot="end" color="primary">
          {{corda.balance | currency:'BRL'}}
        </ion-text>
      </ion-item>
    </ion-card-title>

    <ion-card-content class="card-btns">
      <ion-row class="ion-justify-content-evenly">
        <ion-col text-center class="button" [routerLink]="['/recharge-cash']">
          <ion-button fill="clear">
            <img src="/assets/icon/wallet.svg">
          </ion-button>
          <ion-text color="primary">
            <br>Recarregar
          </ion-text>
        </ion-col>
        <ion-col text-center class="button" [routerLink]="['/transfer']">
          <ion-button fill="clear">
            <img src="/assets/icon/mobile.svg">
          </ion-button>
          <ion-text color="primary">
            <br>Pagar
          </ion-text>
        </ion-col>
        <!-- <ion-col text-center class="button">
          <ion-button fill="clear">
            <img src="/assets/icon/gear.svg">
          </ion-button>
          <ion-text color="primary">
            <br>Configurar
          </ion-text>
        </ion-col> -->
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-history">
    <ion-card-title text-center padding-top class="card-title">
      <ion-text color="dark">
        Histórico
      </ion-text>
    </ion-card-title>

    <ion-card-content no-padding>
      <ion-item *ngFor="let tx of transferList" class="entry">
        <ion-text>
          {{moment(tx.state.data.transfer.createTime).locale('pt').format('DD MMM YY')}}
        </ion-text>
        <ion-text slot="end" [color]="tx.state.data.transfer.accountTo==user.linearId?'success':'danger'">
            <ion-icon [name]="tx.state.data.transfer.accountTo==user.linearId?'add':'remove'"></ion-icon>{{tx.state.data.transfer.amount | currency:'BRL'}}
        </ion-text>
      </ion-item>
      <ion-item *ngIf="transferList.length==0" class="entry">
          <ion-text>
              {{moment().locale('pt').format('DD MMM YY')}}
            </ion-text>
          <ion-text slot="end">
              Nenhuma transação
          </ion-text>

        </ion-item>

      <div text-center padding>
        <ion-button class="ion-text-uppercase" expand="block" [routerLink]="['/history']">
          Ver mais
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>