ion-card {
  ion-list {
    --background: transparent;
  }

  ion-item {
    --background: transparent;
  }

  border-radius: 5px;
  padding: 8px;
  --background: white;
}

.card-title {
  font-size: 18px;
}

.card-balance {
  margin-top: 72px;
  overflow: visible;

  >.card-btns {
    .button {
      font-size: 14px;
    }
  }
}

.card-img {
  background-image: url('/assets/icon/card-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 203px;
  height: 122px;
  position: relative;
  margin-top: -48px;
  margin-left: auto;
  margin-right: auto;

  >.card-txt {
    color: var(--ion-color-dark-contrast);
    font-family: monospace;
    position: absolute;
    bottom: 16px;
    left: 16px;
  }

}

.card-history {
  .entry {
    font-size: 14px;
  }
}